@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

:root {
    --color-primary: #4f46e5;
    --color-secondary: #ec4899;
    --color-navbar: #daf6e7;
    --color-background-article-card: #f9f9d1;
    --color-background: #ffffff;
    --color-text: #111827;

    --font-family-base: 'Inter', sans-serif;

    --spacing-sm: 4px;
    --spacing-md: 8px;
    --spacing-lg: 16px;
    --radius: 9px;
}

.custom-button {
  margin: var(--spacing-md);
  padding: var(--spacing-lg);
  border-radius: var(--radius);
  font-family: var(--font-family-base);
  cursor: pointer;
  border: none;
}

.primary {
  background: var(--color-primary);
  color: white;
}

.secondary {
  background: var(--color-secondary);
  color: white;
}

.primaryOutline {
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.secondaryOutline {
  background: transparent;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20.7px;
  width: auto;
  background-color: var(--color-navbar);
  padding: var(--spacing-md);
}

.navbar.outlined {
  border-bottom: 1.8px solid black;
}

.left-section {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.logo img {
  height: 20px;
  width: auto;
}

.site-name {
  font-family: 'Lemonada', sans-serif;
  font-size: 14px;
}

.feedback {
  font-family: 'Lekton', sans-serif;
  font-size: 10px;
  font-style: italic;
  cursor: pointer;
}

.article-card {
    background-color: var(--color-background-article-card);
    box-shadow: none;
    border: none;
    padding: 5.4%;
    margin-top: 1.8%;
    max-width: 90%;
    transition: all 0.3s ease;
}

.article-card h3.title{
    font-family: 'Meow Script', sans-serif;
    text-align: center;
    margin-bottom: 2.7%;
    font-size: 32px;
}

.article-card.regular {
    box-shadow: none;
    border: none;
}

.article-card .article p {
    margin-bottom: var(--spacing-md);
    font-family: var(--font-family-base);
}

.article-card.outlined {
    border: 2px solid black;
    box-shadow: none;
}
.comment {
  width: 411px;
  min-height: 36px;
  display: flex;
  align-items: flex-start;
  padding: 2px 4px;
  box-sizing: border-box;
  gap: 9px;
  background: #F5FEFF;
}
.comment-content {
  font-family: 'Lekton', sans-serif;
  font-size: 10px;
  color: #111827;
  word-break: break-word;
  flex: 1;
  margin-left: 27px;
  margin-top: 1.8px;
}
.upvote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.upvote img {
  width: 18px;
  height: 18px;
  margin-left: 18px;
  margin-top: 18px;
}
.upvote-count {
  font-family: 'Lekton', sans-serif;
  font-size: 10px;
  color: #111827;
  margin-left: 16.2px;
}